

.banner{
    background-image: url("../../assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    h2{
        color: white;
        margin-left: 5em;
        display: flex;
        width: 27vw;
        text-align: center;
    }   
}

.boxDonate {
    height: 35vh;
    div{
        display: flex;
        align-items: center;
        h2{
            color: #005695;
            font-size: 1.8em;
            margin-left: 3.7em;
            margin-bottom: 2em;
        }
    }
}

.boxCard {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    article{
        width: 20vw;
        height: 20vh;
        background-color: #0157944D;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: .6em;
        img{
            width: 7vw;
            height: 7vh;
        }
        p{
            text-align: center;
            font-size: .9em;
            width: 70%;
        }
    }
    
        
}

