.principal{
    border: solid 2px red;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2{
        font-size: 1.3em;
        text-align: center;
    }
}

.container{
    border: solid 2px blueviolet;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}