
.inicio{
    margin: 0;
    padding: 0;
}


.post{
    background-image: url("../../assets/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;
    color: white;
}